	.background{
		background: url('photo/background/landscape-4205108_1920.jpg') no-repeat fixed ;
		-webkit-background-size: 100% 100%;
	    -moz-background-size: 100% 100%;
	    -o-background-size: 100% 100%;
	    background-size: 100% 100%;
	}
	.navbar{
		background-color: #1c1c1c;
	}
	.navbar a{
		color: white;
	}
	.navbar a:hover{
		color: #b5a39b;
	}
	.card{
		margin-right: 10%;
		background-color: transparent;
		color: white;
	}
	.container{
		margin-right: 12%;
		margin-top: 15%;
	}